## 数据结构和序列

### 元组

In [1]:
tup = 4, 5, 6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup = (4, 5, 6), (7, 8)

In [4]:
nested_tup

((4, 5, 6), (7, 8))

In [5]:
tuple([4, 0, 2])

(4, 0, 2)

In [6]:
tup = tuple('string')

In [7]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
tup[0]

's'

In [9]:
tup = tuple(['foo', [1, 2], True])

In [10]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [11]:
tup[1].append(3)

In [12]:
tup

('foo', [1, 2, 3], True)

In [13]:
(4, None, 'foo') + (6, 0) + ('bar', )

(4, None, 'foo', 6, 0, 'bar')

In [14]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [15]:
tup = (4, 5, 6)

In [16]:
a, b, c = tup

In [17]:
b

5

In [18]:
tup = 4, 5, (6, 7)

In [19]:
a, b, (c, d) = tup

In [20]:
d

7

In [21]:
a, b = 1, 2

In [22]:
a

1

In [23]:
b

2

In [24]:
b, a = a, b

In [25]:
a

2

In [26]:
b

1

In [27]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [28]:
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [29]:
values = 1, 2, 3, 4, 5

In [30]:
a, b, *rest = values

In [31]:
a, b

(1, 2)

In [32]:
rest

[3, 4, 5]

In [33]:
a, b, *_ = values

In [34]:
a = (1, 2, 2, 2, 3, 4, 2)

In [35]:
a.count(2)

4

### 列表

In [36]:
a_list = [2, 3, 7, None]

In [37]:
tup = ('foo', 'bar', 'baz')

In [38]:
b_list = list(tup)

In [39]:
b_list

['foo', 'bar', 'baz']

In [41]:
b_list[1] = 'peekaboo'

In [42]:
b_list

['foo', 'peekaboo', 'baz']

In [43]:
gen = range(10)

In [44]:
gen

range(0, 10)

In [45]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
b_list.append('dwarf')

In [47]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [48]:
b_list.insert(1, 'red')

In [49]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [50]:
b_list.pop(2)

'peekaboo'

In [51]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [52]:
b_list.append('foo')

In [53]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [54]:
b_list.remove('foo')

In [55]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [56]:
'dwarf' in b_list

True

In [57]:
'dwarf' not in b_list

False

In [58]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [59]:
x = [4, None, 'foo']

In [60]:
x.extend([7, 8, (2, 3)])

In [61]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [62]:
a = [7, 2, 5, 1, 3]

In [63]:
a.sort()

In [64]:
a

[1, 2, 3, 5, 7]

In [65]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [66]:
b.sort(key=len)

In [67]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [68]:
import bisect

In [69]:
c = [1, 2, 2, 2, 3, 4, 7]

In [70]:
bisect.bisect(c, 2)

4

In [71]:
bisect.bisect(c, 5)

6

In [72]:
bisect.insort(c, 6)

In [73]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [74]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [75]:
seq[1:5]

[2, 3, 7, 5]

In [76]:
seq[3:4] = [6, 3]

In [77]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [78]:
seq[:5]

[7, 2, 3, 6, 3]

In [79]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [80]:
seq[-4:]

[5, 6, 0, 1]

In [81]:
seq[-6:-2]

[6, 3, 5, 6]

In [82]:
seq[::2]

[7, 3, 3, 6, 1]

### 内建序列函数

In [83]:
some_list = ['foo', 'bar', 'baz']

In [84]:
mapping = {}

In [85]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [86]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [87]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [88]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [89]:
seq1 = ['foo', 'bar', 'baz']

In [90]:
seq2 = ['one', 'two', 'three']

In [91]:
zipped = zip(seq1, seq2)

In [92]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [93]:
seq3 = [False, True]

In [94]:
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [95]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [96]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

In [97]:
first_names, last_names = zip(*pitchers)

In [98]:
first_names

('Nolan', 'Roger', 'Schilling')

In [99]:
last_names

('Ryan', 'Clemens', 'Curt')

In [100]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### 字典

In [101]:
empty_dict = {}

In [102]:
d1 = {'a': 'some value', 'b': [1, 2, 3, 4]}

In [103]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [104]:
d1[7] = 'an integer'

In [105]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [106]:
d1['b']

[1, 2, 3, 4]

In [107]:
'b' in d1

True

In [108]:
d1[5] = 'some value'

In [109]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [110]:
d1['dummy'] = 'another value'

In [111]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [112]:
del d1[5]

In [113]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [114]:
ret = d1.pop('dummy')

In [115]:
ret

'another value'

In [116]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [117]:
list(d1.keys())

['a', 'b', 7]

In [118]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [119]:
d1.update({'b': 'foo', 'c': 12})

In [120]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [121]:
mapping = dict(zip(range(5), reversed(range(5))))

In [122]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [123]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [136]:
by_letter = {}

In [129]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [130]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [132]:
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

In [133]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [138]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [139]:
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [140]:
hash('string')

7228088839564639652

In [141]:
hash((1, 2, (2, 3)))

-9209053662355515447

In [142]:
hash((1, 2, [2, 3]))

TypeError: unhashable type: 'list'

In [143]:
d = {}

In [144]:
d[tuple([1, 2, 3])] = 5

In [145]:
d

{(1, 2, 3): 5}

### 集合

In [146]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [147]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [148]:
a = {1, 2, 3, 4, 5}

In [149]:
b = {3, 4, 5, 6, 7, 8}

In [150]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [151]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [152]:
a.intersection(b)

{3, 4, 5}

In [153]:
a & b

{3, 4, 5}

In [154]:
c = a.copy()

In [155]:
c |= b

In [156]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [157]:
d = a.copy()

In [158]:
d &= b

In [159]:
d

{3, 4, 5}

In [160]:
my_data = [1, 2, 3, 4]

In [161]:
my_set = {tuple(my_data)}

In [162]:
my_set

{(1, 2, 3, 4)}

In [163]:
a_set = {1, 2, 3, 4, 5}

In [164]:
{1, 2, 3}.issubset(a_set)

True

In [165]:
a_set.issuperset({1, 2, 3})

True

### 列表、集合和字典的推导式

In [166]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [167]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [168]:
unique_lengths = [len(x) for x in strings]

In [171]:
unique_lengths

{1, 2, 3, 4, 6}

In [170]:
unique_lengths = {len(x) for x in strings}

In [172]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [175]:
loc_mapping = {val: index for index, val in enumerate(strings)}

In [176]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [177]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [178]:
names_of_interest = []

In [179]:
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)

In [180]:
names_of_interest

['Steven']

In [181]:
result = [name for names in all_data for name in names if name.count('e') >= 2]

In [182]:
result

['Steven']

In [183]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [184]:
flattened = [x for tup in some_tuples for x in tup]

In [185]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [186]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## 函数

### 命名空间、作用域和本地函数

In [1]:
a = None

In [2]:
def bind_a_variable():
    global a
    a = []
bind_a_variable()

In [3]:
print(a)

[]

### 函数是对象

In [1]:
states = ['   Alabma ', 'Georgia! ', 'Georgia', 'georgia', 'FlOrIda', 'south    carolina##', 'West virginia? ']

In [11]:
import re
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [3]:
clean_strings(states)

['Alabma',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'Southcarolina',
 'Westvirginia']

In [8]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)
clean_ops = [str.strip, remove_punctuation, str.title]
def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [10]:
clean_strings(states, clean_ops)

['Alabma',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South    Carolina',
 'West Virginia']

In [9]:
for x in map(remove_punctuation, states):
    print(x)

   Alabma
Georgia
Georgia
georgia
FlOrIda
south    carolina
West virginia

In [7]:
states

['   Alabma ',
 'Georgia! ',
 'Georgia',
 'georgia',
 'FlOrIda',
 'south    carolina##',
 'West virginia? ']

### 匿名（Lambda）函数

In [12]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [13]:
strings.sort(key=lambda x: len(set(list(x))))

In [14]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### 柯里化：部分参数应用

In [15]:
def add_numbers(x, y):
    return x + y

In [16]:
add_five = lambda y: add_numbers(5, y)

In [17]:
add_five

In [18]:
add_five(1)

6

In [19]:
from functools import partial
add_one = partial(add_numbers, 1)

In [20]:
add_one(6)

7

### 生成器

In [21]:
some_dict = {'a': 1, 'b': 2, 'c': 3}

In [23]:
for key in some_dict:
    print(key)

a
b
c

In [24]:
dict_iterator = iter(some_dict)

In [25]:
dict_iterator

In [26]:
list(dict_iterator)

['a', 'b', 'c']

In [27]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [28]:
gen = squares()
gen

In [29]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [30]:
gen = (x ** 2 for x in range(100))
gen

In [31]:
sum(x ** 2 for x in range(100))

328350

In [32]:
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [33]:
import itertools

In [34]:
first_letter = lambda x: x[0]

In [35]:
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

In [36]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))    # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

### 错误和异常处理

In [37]:
float('1.2345')

1.2345

In [38]:
float('something')

ValueError: could not convert string to float: 'something'

In [39]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [40]:
attempt_float('1.2345')

1.2345

In [41]:
attempt_float('something')

'something'

In [1]:
float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [5]:
%run examples\ipython_bug.py

AssertionError:

## 文件与操作系统

In [14]:
path = 'examples\segismundo.txt'
f = open(path, encoding='utf8')

In [10]:
for line in f:
    pass

In [15]:
liens = [x.rstrip() for x in open(path, encoding='utf8')]

In [16]:
liens

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [17]:
f.close()

In [18]:
with open(path) as f:
    lines = [x.rstrip() for x in f]

In [20]:
f = open(path, encoding='utf8')
f.read(10)

'Sueña el r'

In [21]:
f2 = open(path, 'rb')
f2.read(10)

b'Sue\xc3\xb1a el '

In [22]:
f.tell()    # 句柄当前位置

11

In [23]:
f2.tell()

10

In [24]:
import sys
sys.getdefaultencoding()

'utf-8'

In [25]:
f.seek(3)   # 设定特定的句柄位置

3

In [26]:
f.read(1)

'ñ'

In [28]:
with open('tem.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

In [30]:
with open('tem.txt', encoding='utf8') as f:
    lines = f.readlines()
lines

['Sueña el rico en su riqueza,\n',
 'que más cuidados le ofrece;\n',
 'sueña el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sueña el que a medrar empieza,\n',
 'sueña el que afana y pretende,\n',
 'sueña el que agravia y ofende,\n',
 'y en el mundo, en conclusión,\n',
 'todos sueñan lo que son,\n',
 'aunque ninguno lo entiende.\n']

### 字节与Unicode文件

In [33]:
with open(path, 'rb') as f:
    data = f.read(10)
data

b'Sue\xc3\xb1a el '

In [34]:
data.decode('utf8')

'Sueña el '

In [35]:
data[:4].decode('utf8')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 3: unexpected end of data

In [36]:
sink_path = 'sink.txt'
with open(path) as source:
    with open(sink_path, 'xt', encoding='iso-8859-1') as sink:
        sink.write(source.read())

UnicodeEncodeError: 'latin-1' codec can't encode character '\u5e3d' in position 3: ordinal not in range(256)

In [39]:
f = open(path, encoding='utf8')
f.read(5)

'Sueña'

In [40]:
f.seek(4)
f.read(1)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb1 in position 0: invalid start byte